<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>


<div class="container">

   <div class="row">
	   <div class="col-lg-8">
		    <!-- /* Handle the flash message */-->
		    <th:block th:if="${message != null}">
		        <!-- /* The message code is returned from the @Controller */ -->
		        <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
		    </th:block> 
		    <br>
		    <ul th:each="info: ${liste}">
			    <h4><a th:text="${info.gettitre()}" th:href="@{${info.geturl()}}" style="" target="_blank" alink="#FF0000"></a></h4>
			      <li style="list-style:none;color: green !important;" th:text="${info.geturl()}"></li>
			      <li style="list-style:none;" th:text="${info.getdescription()}"></li>
		    </ul>
		    <div th:replace="fragments/layout :: footer"></div>
	   </div>
	   
   	  <div class="col-lg-4">
   	       <h4>Concurrents:</h4>
	   	   <div style="width:300px; height:300px; border:solid silver 1px;">
	   	   <div style="min-height:80%; ">
	   	    <ul th:each="info: ${liste}">
	   	       <li style="list-style:none;" th:text="${info.getconcurrent()}"></li>
	   	     </ul>
	   	   </div>
	   	   <div style="position:relative; height:20%;">
	   	     <form  role="search"action="#" th:action="@{/search}" method="post" style="position:absolute; width:100%; bottom:0;">
				  <div class="form-group" style="margin-bottom: 0;">
				   <div class="row">
					   <div class="col-lg-12">
						   	<div class="input-group" style="width:100%;">
						   	 <input style="width:100%;" type="text" class="form-control" name="" placeholder="Ajout concurrent">
						   	 <span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus "></i></button></span>
						   	</div>
					   </div>
				   </div>
				  </div>
           </form>
           </div>
	   	   </div>
   	  </div>
   	  
    </div>
    
</div>



</body>
<script>
$(document).ready(function(){
	
	$(".barSearch").removeClass("hidden");
	
});

</script>
</html>